
* {
	font-family: 'Droid Sans Mono',sans-serif;
}

.personal-profile > p  {
	text-align: center;
	font-family: monospace;
	text-transform: none;
	font-size: 25px;
	color: deeppink;
}

.profile-about-me {
		border-top: 1px solid black;
		padding-top: 30px;
}

.profile-about-me > span  {
	font-size: 17px;
	font-family: 'Droid Sans Mono',sans-serif;
	text-align: justify;
	padding-right: 0px;
}

.profile-details > a {
	font-size: 40px;
	padding: 0px 2px;
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Droid_Sans_Mono/DroidSansMono.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.profile-details {
	padding-top: 10px;
	font-size: 20px;
	line-height: 40px;
	font-family: 'Droid Sans Mono',sans-serif;
}

.personal-careers  > p:first-child , .personal-proficiency  > p:first-child , .personal-contact > p:first-child, .personal-projects  > p:first-child {
	font-size: 40px;
	font-family: 'Droid Sans Mono',sans-serif;
	text-align: center !important;
	//border-bottom: 2px solid deeppink;
	padding-bottom: 15px;
	color: deeppink;
}

.personal-careers  > p:nth-child(3), .personal-proficiency  >  p:not(:nth-child(1)), .personal-contact > p:nth-child(3)  {
	font-size: 30px;
	font-family: 'Droid Sans Mono',sans-serif;
	color: deeppink;
	margin: 0 auto;
	padding-bottom: 15px;
}

.personal-career-company > p:nth-child(-n+2) { 
	font-weight: 900;
}

.personal-career-company > p {
	font-family: 'Droid Sans Mono',sans-serif;
	text-align: justify;
	line-height: 25px;
}
.personal-proficiency-skills {
	line-height: 35px;
}

@media only screen and (min-width : 992px) {
	.personal-proficiency-skills:nth-child(3n-3) > p {
		margin-left: 262px;
	}
	.personal-proficiency-skills:nth-child(3n-2) > p {
		margin-left: 125px;
	}
	.personal-proficiency-skills:nth-child(3n-1) > p {
		margin-left: 125px;
	}
	.personal-proficiency-skills:nth-child(3) > p {
		margin-left: 262px;
	}
	.personal-proficiency-skills  > div:hover {
		-webkit-animation: zoomin 1s ease;
		animation: zoomin 2s  ease;
	}
}

@-webkit-keyframes zoomin {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(1.3); }
	100% { -webkit-transform: scale(1); }
}